name: Deploy Backend to Docker Hub & Render

on:
  push:
    branches: ["master", "main"]
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          file: ./backend/Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/shopii-backend:latest

  deploy-to-render:
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Render Deploy

        env:
          # Gán secret vào biến môi trường tên là DEPLOY_URL
          DEPLOY_URL: ${{ secrets.RENDER_DEPLOY_HOOK }}
        run: |
          # Kiểm tra xem link có bị rỗng không
          if [ -z "$DEPLOY_URL" ]; then
            echo " Error: RENDER_DEPLOY_HOOK chưa được cài đặt hoặc bị rỗng!"
            exit 1
          fi

          # Chạy lệnh curl gọi đến Render
          curl -X POST "$DEPLOY_URL"
          echo "Đã gửi lệnh Deploy thành công!"
